/* Card Container */
.butcher-card {
  background: linear-gradient(135deg, #ffffff, #f8f8f8);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.4s ease;
  width: 300px;
  padding: 20px;
  text-align: left;
  color: #333;
  
}

/* Card Title */
.butcher-card h3 {
  font-size: 1.5rem;
  color: #8b6f5e;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Card Content */
.butcher-card p {
  margin: 8px 0;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #555;
}

.butcher-card p strong {
  color: #333;
}

/* Hover Effect */
.butcher-card:hover {
  transform: translateY(-50px) scale(1.03);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #d2a679, #ffffff); /* Darker brown gradient */
}
.butcher-card:hover h3 {
  color: #8b6f5e;
}

.butcher-card:hover p {
  color: #444;
}

.butchers-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer; /* Center cards horizontally */
  gap: 10px; /* Reduced spacing between cards */
  padding: 10px; /* Optional padding around the container */
}
/* Responsive Design for the Card */
@media screen and (max-width: 768px) {
  .butcher-card {
    width: 100%; /* Full width on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .butcher-card {
    padding: 15px;
  }

  .butcher-card h3 {
    font-size: 1.3rem;
  }

  .butcher-card p {
    font-size: 0.85rem;
  }
}